// Reference:
// http://www.google.com/design/spec/components/buttons.html

$button-background-hover: scale-color($button-background, $lightness: -5%);

//@include foundation-button-group;
//@include foundation-dropdown;

.md-button__icon {
    float: left;
    text-align: center;
    border-radius: 50%;
    font-size: rem-calc(24);
    height: 2rem;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 2rem;
    i {
        margin: 0;
        line-height: rem-calc(24);
        transform: translate(0, 0);
        width: rem-calc(24);
    }
    &:hover, &.md-button__hover {
        background: rgba(158,158,158, .2);
    }
}

.md-button {
    cursor: pointer;
    &.md-button__add {
        @extend .md-button__icon;
        height: 4rem;
        width: 4rem;
        font-size: rem-calc(48);
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
        z-index: 9;
        margin-right: 10rem;
        i {
            font-size: rem-calc(48);
            line-height: rem-calc(48);
            transform: translate(0, 0);
            width: rem-calc(48);
        }
    }
}

.md-button__raised, .md-button__raised-accent, .md-button__flat, .md-button__disabled {
    min-width: 64px;
    overflow: hidden;
    padding: {
        left: 1rem;
        right: 1rem;
    }
    &.md-button__small {
        min-width: 1rem;
        padding: 0;
    }
}
.md-button__raised, .md-button__raised-accent, .md-button__flat, .md-button__disabled {
    @extend .text-button;
}
.md-button__raised, .floating-action-button {
    @include button;
}
.md-button__raised-accent, .floating-action-accent-button {
    @include button($background: $secondary-color, $background-hover: scale-color($secondary-color, $lightness: -5%), $color: $black-87);
    &,&:hover {
        color: $black-87;
    }
}
.md-button__raised, .floating-action-button, .md-button__raised-accent, .floating-action-accent-button {
    @extend .z-depth-1;
    &:active {
        @extend .z-depth-2;
    }
}
.floating-action-button, .floating-action-accent-button {
    overflow: hidden;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 1rem;
    margin: 0;
    i {
        font-size: 24px;
        text-align: center;
    }
}
.floating-action-button i {
    color: white;
}
.floating-action-accent-button i {
    color: $black-87;
}
.md-button__flat {
    @include button($background: transparent, $background-hover: rgba(#999, .2), $color: $primary-color);
    &,&:hover { color: $primary-color; }
}
.md-button__disabled {
    @include button($background: transparent, $background-hover: transparent, $color: $black-26);
    &,&:hover { color: $black-26; }
    cursor: not-allowed !important;
}


.wrap-add {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    height: 60px;
    position: absolute;
    right: 80px;
    text-align: center;
    top: 80px;
    width: 60px;
    z-index: 9;
    padding-top: 1.125rem;
}