// Reference:
// http://www.google.com/design/spec/components/toolbars.html

$topbar-padding: 0;
$topbar-background: $primary-color;

//@include foundation-top-bar;
//@include foundation-menu;

.md-topbar {
    height: 4rem;
    line-height: 4rem;
    background-color: $grey-200;
    border: none;
    color: rgb(66, 66, 66);
    transition-duration: 0.2s;
    transition-property: max-height, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 3;
    @extend .z-depth-1;

    .md-topbar__title {
        p {
            @extend .text-title;
            padding-top: 1rem;
            color: rgb(66, 66, 66);
            font-weight: normal;
            float: left;
            display: flex;
            small {
                font-size: 0.875rem;
                padding-left: 0.5rem;
                width: 200px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &:before {
                    content: '/';
                    padding-right: 0.5rem;
                }
            }
        }
    }

    .md-topbar__search {
        form {
            padding-top: 1rem;
            transition-duration: 0.2s;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            input:not([type="radio"]):not([type="checkbox"]) {
                display: none;
                padding-top: 0;
                height: 1.75rem;
            }
        }
    }

    &.md-topbar__search-expanded {
        .md-topbar__search {
            .md-button {
                margin-top: 0rem;
                margin-right: 0.5rem;
            }
            input:not([type="radio"]):not([type="checkbox"]) {
                display: block;
                margin-top: 0;
            }
        }
    }

}

//Global Style
@include breakpoint(small only) {
    .md-topbar {
        .md-topbar__title {
            max-width: 255px;
            overflow: hidden;
        }
        .md-topbar__search-expanded {
            .md-topbar__title {
                display: none;
            }
        }
    }
}

@include breakpoint(medium down) {
    .md-topbar {
        .md-topbar__title {
            margin-left: 2.5rem;
        }
    }
}