//
// ONLY SELECT2
// Utility for tables
//

@import '../../../bower_components/select2/src/scss/core';

span.select2 {width: 100% !important}

.select2-container {
    .select2-selection {
        border: 0;
        border-bottom: 1px solid $grey-300;
        border-radius: 0;
        background-color: transparent;
        color: #424242;
        font-family: inherit;
        font-size: 1rem;
        line-height: normal;
        margin-bottom: 2rem;
        margin-top: -5px;
        &:focus, &:hover {
            border-bottom: 2px solid $primary-color;
            background-color: transparent;
        }
        .select2-selection__rendered {
            padding-left: 0;
            margin-left: 0.25rem;
        }
        .select2-selection__arrow {
            height: 2.25rem;
            b {
                @include background-triangle($select-triangle-color);
                background-size: 9px 6px;
                background-position: $global-right (-$form-spacing) center;
                background-origin: content-box;
                background-repeat: no-repeat;
                padding-#{$global-right}: ($form-spacing * 1.5);
                background-origin: content-box;
                background-repeat: no-repeat;
                border: 0 none;
                height: 9px;
                margin-top: -1rem;
                border: 0;
            }
        }
    }
}

.select2-dropdown {
    border-radius: 0;
    border-color: $grey-300;
    margin-top: -2rem;
    .select2-results__message {
        font-size: 0.875rem;
        line-height: 1.2;
    }
    .select2-search {
        .select2-search__field {
            border: 0;
            border-bottom: 1px solid $grey-300;
            &:focus, &:hover {
                border-bottom: 2px solid $primary-color;
                background-color: transparent;
            }
        }
    }
}
