//
// ONLY TABLES
// Utility for tables
//

@include breakpoint(small up) {
    body {
        .wrap-table {
            margin-bottom: 4rem;
            table {
                width: 100%;
                margin-bottom: 0;
                margin-top: 2rem;
                .wrap-table__head {
                    border-width: 0 0 1px 0;
                    tr {
                        background: #fff;
                        border-bottom: 1px solid #eaeaea;
                        border-top: 0;
                        th {
                            padding: 0.75rem 0.625rem 0.875rem;
                            color: #929292;
                            font-size: 0.9375rem;
                        }
                    }
                }
                .wrap-table__body {
                    tr {
                        background: #fff;
                        border-bottom: 1px solid #eaeaea;
                        td {
                            padding: 0.5rem 0.625rem 0.625rem;
                            color: #424242;
                            font-size: 0.875rem;
                            &.wrap-table__body-actions {
                                text-align: center;
                                a {
                                    padding: {
                                        left: 0.25rem;
                                        right: 0.25rem;
                                    }
                                    i {
                                        position: relative;
                                        top: 0.125rem;
                                        font-size: 1.25rem;
                                    }
                                }
                            }
                            &:not(.wrap-table__body-actions) {
                                i {
                                    position: relative;
                                    top: 0.125rem;
                                    font-size: 1.25rem;
                                }
                            }
                        }
                        &:hover {
                            background: #f2f2f2;
                        }
                    }
                }
            }
            .wrap-table__pagination {
                margin: 2rem auto;
                ul {
                    li {
                        &.md-button__raised {
                            padding: 0.25rem 0.5rem;
                            position: relative;
                            top: 0.5rem;
                        }
                        a {
                            color: #424242;
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(medium up) {
    body {

    }
}

@include breakpoint(large up) {
    body {

    }
}