//
// UTILITY UPLOAD
//
$progress_height:   7px;
@-webkit-keyframes progress {
    to {
        background-position: $progress_height 0;
    }
}
@-moz-keyframes progress {
    to {
        background-position: $progress_height 0;
    }
}
@keyframes progress {
    to {
        background-position: $progress_height 0;
    }
}

@include breakpoint(small up) {
    body {
        .file-upload {
            background-color: #eaeaea;
            border: 1px dashed #bbb;
            position: relative;
            text-align: center;
            vertical-align: middle;

            &.hover {
                background: none;
                .file-upload__content {
                    background: #f2f2f2;
                    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
                }
            }
            &.fade {
                background: none;
                .file-upload__content {
                    -webkit-transition: all 0.3s ease-out;
                    -moz-transition: all 0.3s ease-out;
                    -ms-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                    opacity: 1;
                }
            }

            .file-upload__content {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                color: #999;
                cursor: pointer;
                font-size: 0.9rem;
                line-height: 1;
                max-height: 100%;
                min-height: 45px;
                min-width: 200px;
                padding: 15px;
                transition: height 150ms ease 0s;
                width: 100%;
                position: inherit;

                .file-upload__placeholder {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition: all 0.3s ease 0s;
                    z-index: 10;

                    .file_upload__placeholder__delete {
                        float: right;
                        position: absolute;
                        right: 0.25rem;
                        top: 0.25rem;
                        display: none;
                    }

                    .file-upload__placeholder__content {
                        left: 50%;
                        line-height: 1.4;
                        max-width: calc(100% - 60px);
                        overflow: hidden;
                        position: absolute;
                        text-overflow: ellipsis;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        white-space: nowrap;

                        i {
                            display: inline-block;
                            font-size: 1.5rem;
                            vertical-align: middle;
                            padding-right: 0.25rem;
                            margin-top: -0.25rem;
                        }

                    }

                }

                &.has-image {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    .file-upload__placeholder {
                        opacity: 0;
                        &:hover, &:focus {
                            opacity: 1;
                            background-color: rgba(0,0,0,0.5);
                            .file-upload__placeholder__content, .file_upload__placeholder__delete {
                                i, span {
                                    color: #fff;
                                }
                                span {
                                    //text-shadow: 0 0 1px #000;
                                }
                            }
                        }
                        .file_upload__placeholder__delete {
                            display: inline-block;
                        }
                    }
                }

            }

            .file-upload__progressbar {
                bottom: 0px;
                height: 0.5rem;
                left: 0px;
                position: absolute;
                right: -1px;
                z-index: 20;
                .progress {
                    height: 0.5rem;
                    margin-bottom: 0;
                    background-color: transparent;
                    .progress-meter {
                        transition: background-color 0.3s ease 0s, width 0.1s ease 0s;

                        .progress-meter__animation {
                            width: 100%;
                            height: 100%;
                            -webkit-animation: progress 1s linear infinite;
                            -moz-animation: progress 1s linear infinite;
                            animation: progress 1s linear infinite;
                            background-repeat: repeat-x;
                            background-size: $progress_height $progress_height;
                            background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                            background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                        }

                    }
                }
            }
        }
    }
}

@include breakpoint(medium up) {
    body {

    }
}

@include breakpoint(large up) {
    body {

    }
}