<div class="reveal reveal-modal" id="<%=id%>" data-reveal data-options="closeOnClick: false; closeOnEsc: false;">

    <div class="reveal-modal-header">
        <div class="row">
            <div class="small-12 columns">
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                </button>
                <h2><%= title %></h2>
            </div>
        </div>
    </div>

    <div class="reveal-modal-body">
        <div class="large-12 columns">
            <p class="reveal-modal-body__text"><%=message%></p>
        </div>
    </div>

    <div class="reveal-modal-actions">
        <% if (buttonText || buttonLink) { %>
            <div class="small-12 columns text-right">
            <% if (buttonLink) { %>
                <a class="md-button md-button__flat" data-close href="<%=buttonLink%>"><%=buttonText%></a>
            <% } else { %>
                <button class="md-button md-button__flat" data-close type="button"><%=buttonText%></button>
            <% } %>
            </div>
        <% } %>
    </div>

</div>
