<div class="reveal reveal-modal" id="{{=id}}" data-reveal data-options="closeOnClick: false; closeOnEsc: false;">

    <div class="reveal-modal-header">
        <div class="row">
            <div class="small-12 columns">
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                </button>
                <h2>{{= title }}</h2>
            </div>
        </div>
    </div>

    <div class="reveal-modal-body">

        <div class="row">
            <div class="small-12 columns">

                <form id="form-{{=id}}" method="post" data-abide novalidate data-options="liveValidate: false;">

                    <div class="row" data-datepicker>
                        <div class="small-6 columns">
                            <div class="row collapse">
                                <div class="small-12 columns">
                                    <input type="text" value="" class="datepicker-checkin" required data-max="today" />
                                    <label>Desde</label>
                                    <span class="form-error">La fecha inicial debe ser válida y menor que la fecha final.</span>
                                </div>
                            </div>
                        </div>
                        <div class="small-6 columns">
                            <div class="row collapse">
                                <div class="small-12 columns">
                                    <label>Hasta
                                        <input type="text" value="" class="datepicker-checkout" required />
                                        <span class="form-error">La fecha final debe ser mayor a la fecha incial.</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="reveal-modal-actions" style="margin-top: 1rem">
                        <div class="row">
                            <div class="small-12 columns text-right">
                                <button class="md-button md-button__flat" type="submit">{{=buttonAccept}}</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>

</div>
