<div class="input-group-float input-group-float__right hide">
    <span class="input-group-label input-group-label__pointer input-group-label__password">
        <span class="input-group-label__password_on">
            {{ if(show) { }}
                {{= show }}
            {{ } else { }}
                <i class="mdi mdi-eye"></i>
            {{ } }}
        </span>
        <span class="input-group-label__password_off">
            {{ if(hide) { }}
                {{= hide }}
            {{ } else { }}
                <i class="mdi mdi-eye-off"></i>
            {{ } }}
        </span>
    </span>
</div>