<div class="file-upload">
    <div class="row">
        <div class="small-12 columns">

            <label class="file-upload__content" for="<%=id%>">
                <span class="file-upload__placeholder">

                    <span class="file_upload__placeholder__delete">
                        <i class="mdi mdi-delete"></i>
                    </span>

                    <span class="file-upload__placeholder__content">
                        <i class="mdi mdi-cloud-upload"></i>
                        <span class="file-upload__placeholder__msg">
                            Arrastra o selecciona una imagen
                        </span>
                    </span>
                    
                </span>
            </label>

            <div class="file-upload__progressbar">
                <div class="success progress">
                    <div class="progress-meter" style="width: 0%">
                        <div class="progress-meter__animation"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>