// Import modules

@import "modules";

$roboto:			'Roboto', sans-serif;

// Material Design
@import 'md/md';

//Imports custom pages
@import "pages/home";

//Imports partials
@import "pages/_shared/footer";

//Global Style
@include breakpoint(small up) {
    body {
        font-family: $roboto;
    }
}

@include breakpoint(medium up) {
    body {

    }
}

@include breakpoint(large up) {
    body {
        #main-shell {
            width: 81%;
            margin-left: 19%;
            margin-bottom: 50rem;

            main, .wrap-topbar {
                padding: 0 2rem;
            }

            .wrap-view__card {
                margin-top: 2rem;
            }
        }
    }
}