
<div class="row">
    <div class="small-12 columns">
        <h1>Users hola</h1>
        <form data-abide>

            <div class="row">
                <div class="small-12 columns">

                    <label>Input
                        <input type="text" required name="model[field]">
                        <span class="form-error">This input is required</span>
                    </label>

                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <button type="submit" class="button primary">SAVE</button>
                </div>
            </div>

        </form>

        <div class="wrapper-user"></div>
    </div>
</div>
